[LOGGING]
Log_Name: fenix-log
Retention_Days: 30
Debug_Logs: False
Traceback: False
Show_Delay: False

[STREAMS]
Edit_Fetch_Attempts: 3
Exeption_Pause: 60
Log_Streams: True
# The following only effect PerformanceCounter
Safety_Factor: 0.9
# The following only effect ExponentialCounter
Ratelimit_Exhaustion: True
Min_Wait: 1
Max_Wait: 16
